@model IEnumerable<Entity.RecipeEntity>

<section class="sec sec2">
    <div class="row boxed clearfix">
        <div>@Html.Raw(ViewBag.RecipeTitle)</div>
        <div>@Html.Raw(ViewBag.RecipeExplain)</div>
        <div class="col-12">
            @foreach (var item in Model)
            {

                <div class="col-4 col-12-s hideme">
                    <a href="/Recipe/Detail?recipeId=@item.recipeId">
                        <img src="@item.coverImage" />
                        <div>@Html.Raw(item.title)</div>
                    </a>
                </div>
            }

        </div>
        <div class="col-12">
            <a href="/Recipe/List" class="btn hideme">SEE ALL RECIPES</a>
        </div>
    </div>
</section>