

<section class="sec sec2" style="background-color:antiquewhite">
    <div class="row boxed clearfix productVideo">

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">
                <form method="post" asp-controller="User" asp-action="CreateDelay">

                    <div class="col-12 productVideo">
                        <div class="col-12 productVideo" style="text-align:left">
                            <label>
                                bill:
                            </label>
                        </div>

                        <div class="col-12 productVideo">
                            <input type="text" name="bill" id="bill" style="border: 1px solid #cfcfcf; border-radius: 0; box-shadow: none; width:100%; height:30px;" />
                        </div>
                    </div>

                    <div class="col-12 productVideo">
                        <div class="col-12 productVideo" style="text-align:left">
                            <label>
                                platform:
                            </label>
                        </div>

                        <div class="col-12 productVideo">
                            <input type="text" name="platform" id="platform" style="border: 1px solid #cfcfcf; border-radius: 0; box-shadow: none; width:100%; height:30px;" />
                            <p id="tipDelay" style="text-align:left; color:red;padding-left:10%" hidden> </p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default" style="margin-top:13px;" onclick="return ModPwd()">Mod</button>
                </form>
            </div>

        </div>


    </div>
</section>


<script type="text/javascript">

    function ModPwd() {

        var bill = $("#bill").val()
        var platform = $("#platform").val()

        if (bill == "" || bill == null) {
            $("#tipDelay").html("bill不能为空")
            $("#tipDelay").show()
            return false
        }

        if (platform == "" || platform == null) {
            $("#tipDelay").html("platform不能为空")
            $("#tipDelay").show()
            return false
        }

        return true
    }

</script>
