@model Entity.FaqEntity

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">详细</h4>
        </div>
        <div class="content">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="faqId" class="control-label">ID</label>
                            <input disabled asp-for="faqId" class="form-control border-input" />
                            <span asp-validation-for="faqId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="title" class="control-label">标题</label>
                            <textarea disabled asp-for="title" rows="5" class="form-control border-input"></textarea>
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="contents" class="control-label">内容</label>
                            <textarea  rows="5" disabled asp-for="contents" class="form-control border-input"></textarea>
                            <span asp-validation-for="contents" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="adminId" class="control-label">创建者</label>
                            <input disabled asp-for="adminId" class="form-control border-input" />
                            <span asp-validation-for="adminId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="createDate" class="control-label">创建时间</label>
                            <input disabled asp-for="createDate" class="form-control border-input" />
                            <span asp-validation-for="createDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="modifyDate" class="control-label">修改时间</label>
                            <input disabled asp-for="modifyDate" class="form-control border-input" />
                            <span asp-validation-for="modifyDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a asp-action="List" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#liFaq").addClass("active");

    });
</script>
