

@model Entity.ProductTypeEntity
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">添加</h4>
        </div>
        <div class="content">
            <form asp-action="Create"  enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="name" class="control-label">分类名称</label>
                            <input asp-for="name" class="form-control border-input" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="coverImage" class="control-label">封面图片</label>
                            <img id="coverImage" src="" width="350" />
                            <input type="file" name="coverImage" class="form-control border-input" placeholder="选择图片..." accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <span asp-validation-for="coverImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="superior" class="control-label">上级</label>
                            @await Component.InvokeAsync("ProductTypeSelect", new { docName = "superior", isZero = true, isLevel = true })
                            <span asp-validation-for="superior" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input id="btnSure" type="submit" class="btn btn-info btn-fill btn-wd" value="确 定" />
                    &nbsp;
                    <a asp-action="List" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#liProductType").addClass("active");
        $(":file").change(function (e) {
            ShowImg(e.target.files[0], e.target.name)
        })
    });

    //显示图片
    function ShowImg(file, domId) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            $("#" + domId).attr("src", e.target.result);
        }

    }
</script>
