@model Entity.ProductTypeEntity

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">编辑</h4>
        </div>
        <div class="content">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="productTypeId" class="control-label">ID</label>
                            <input readonly asp-for="productTypeId" class="form-control border-input" />
                            <span asp-validation-for="productTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="name" class="control-label">分类名称</label>
                            <input asp-for="name" class="form-control border-input" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="title" class="control-label">产品页主标题</label>
                            <scrip id="title" type="text/plain" name="title" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="subheading" class="control-label">产品副主标题</label>
                            <scrip id="subheading" type="text/plain" name="subheading" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="subheading" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="recommendTitle" class="control-label">首页推荐标题</label>
                            <scrip id="recommendTitle" type="text/plain" name="recommendTitle" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="recommendTitle" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="coverImage" class="control-label">封面图片(70*95)</label>
                            <img id="coverImage" src="@( Model.coverImage)" width="350" />
                            <label title="勾选保留原来的图片， 不勾选则删除。更改则先取消勾子，再选择要替换的文件">
                                <input name="isCoverImage" type="checkbox" checked value="true"> 保留
                            </label>
                            <input type="file" name="coverImage" class="form-control border-input" placeholder="选择图片..." accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <span asp-validation-for="coverImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input id="btnSure" type="submit" class="btn btn-info btn-fill btn-wd" value="确 定" />
                    &nbsp;
                    <a asp-action="List" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Common/ueditor.config.js"></script>
<script src="~/js/Common/ueditor.all.min.js"></script>
<script src="~/js/Common/zh-cn.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#liProductType").addClass("active");
        $(":file").change(function (e) {
            ShowImg(e.target.files[0], e.target.name)
        })
    });

    //显示图片
    function ShowImg(file, domId) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            // 创建对象
            var img = new Image();

            // 改变图片的src
            img.src = e.target.result;

            // 判断是否有缓存
            if (img.complete) {
                if (img.width == 70 && img.height == 95) {
                    $("#" + domId).attr("src", e.target.result);
                } else {
                    $(":file").val("");
                    $("#" + domId).attr("src", "");
                }
            } else {
                // 加载完成执行
                img.onload = function () {
                    if (img.width == 70 && img.height == 95) {
                        $("#" + domId).attr("src", e.target.result);
                    } else {
                        $(":file").val("");
                        $("#" + domId).attr("src", "");
                    }
                };
            }

        }
    }

    var titleUE = UE.getEditor('title', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    titleUE.ready(function () {
        titleUE.execCommand('inserthtml', '@Html.Raw(Model.title)');
    });


    var subheadingUE = UE.getEditor('subheading', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    subheadingUE.ready(function () {
        subheadingUE.execCommand('inserthtml', '@Html.Raw(Model.subheading)');
    });


    var recommendTitleUE = UE.getEditor('recommendTitle', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    recommendTitleUE.ready(function () {
        recommendTitleUE.execCommand('inserthtml', '@Html.Raw(Model.recommendTitle)');
    });

</script>
