

@model int

@await Component.InvokeAsync("RecipeDetail", new { recipeId = Model })


@*<section class="sec sec2" style="background-color:antiquewhite">
    <div class="row boxed clearfix productVideo">


        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">

                <div class="col-12" style="padding:5% 5%">

                    <div class="col-6 col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">

                        <img src="~/images/51T1pJqyYKL.jpg" style="width:100%" alt="video">

                    </div>

                    <div class="col-6 col-12-xs hideme" style="opacity: 1;padding:0 5%">
                        <h2 style="padding-bottom:5%">酸菜鱼</h2>

                        <div style="text-align:left">
                            <p>简介：</p>
                            <p style="padding-bottom:5%">asdsdasdasdas杂达到 污染物改还未日䏿</p>

                            <p>食材：</p>
                            <p style="padding-bottom:5%">asdsdasdasdas杂达到 污染物改还未日䏿</p>

                            <p>关联关键字：</p>
                            <p style="padding-bottom:5%">asdsdasdasdas杂达到 污染物改还未日䏿</p>
                        </div>
                    </div>

                </div>



                <div class="col-12" style="padding:5% 5%">
                    <div class="col-12">
                        <h3 style="padding:5% 5%;font-size:1.8rem; text-align:left">
                            步骤：
                        </h3>
                    </div>

                    <div class="col-12" style="background-color:#ffffff;padding-bottom:5%">
                        <div class="col-4 col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px; border-right:1px solid #0094ff">

                            <img src="~/images/51T1pJqyYKL.jpg" style="width:100%" alt="video">

                        </div>

                        <div class="col-8 col-12-xs hideme" style="opacity: 1;padding:5% 5%; text-align:left;">
                            <p>解耦改安徽的法国就好  大红爱活动狗好活动啊 哦安徽的哦安徽的啊好活动啊</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>


    </div>
</section>*@