
@model string

@await Component.InvokeAsync("RecipeList", new { searchString = Model })


    @*<section class="sec sec2" style="background-color:antiquewhite">
            <div class="row boxed clearfix productVideo">

                <div class="col-12 productVideo" style="text-align:right;padding-bottom:30px">
                    <form asp-action="List">
                        <input name="searchString" type="text" style="border: 1px solid #cfcfcf; border-radius: 0; box-shadow: none; height: 33px; width: 300px;" placeholder="请输入关键字..." />
                        <button type="submit" class="btn" style="padding:7px 20px">搜索</button>
                    </form>
                </div>

                <div class="col-12 productVideo" style="padding-bottom:30px">
                    <div class="col-12 productVideo">
                        <h2 class="col-12 hideme" style="opacity: 1; text-align:center; padding:40px 40px; font-size:2rem">Recipes Video</h2>
                        <hr class="col-12" style="height:3px;border:none;border-top:1px solid #808080;" />
                        <div class="col-12" style="padding-bottom:30px">

                            <div class="col-3 col-6-s col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">
                                <a href="" target="_blank">
                                    <img src="~/images/51T1pJqyYKL.jpg" style="width:100%" alt="video">
                                </a>
                                <div style="padding:20px 30px">
                                    <a href="" target="_blank">a敖德萨所大所大所多撒多所</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-12 productVideo" style="padding-bottom:30px">
                    <div class="col-12 productVideo">
                        <h2 class="col-12 hideme" style="opacity: 1; text-align:center; padding:40px 40px; font-size:2rem">Recipes Description</h2>
                        <hr class="col-12" style="height:3px;border:none;border-top:1px solid #808080;" />
                        <div class="col-12" style="padding-bottom:30px">

                            <div class="col-3 col-6-s col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">
                                <a href="" target="_blank">
                                    <img src="~/images/51T1pJqyYKL.jpg" style="width:100%" alt="video">
                                </a>
                                <div style="padding:20px 30px">
                                    <a href="" target="_blank">a敖德萨所大所大所多撒多所</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>*@