@model Entity.RoleEntity

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">详细</h4>
        </div>
        <div class="content">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="roleId" class="control-label">ID</label>
                            <input disabled asp-for="roleId" class="form-control border-input" />
                            <span asp-validation-for="roleId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="roleName" class="control-label">名称</label>
                            <input disabled asp-for="roleName" class="form-control border-input" />
                            <span asp-validation-for="roleName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="remark" class="control-label">描述</label>
                            <input disabled asp-for="remark" class="form-control border-input" />
                            <span asp-validation-for="remark" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="createDate" class="control-label">创建时间</label>
                            <input disabled asp-for="createDate" class="form-control border-input" />
                            <span asp-validation-for="createDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="modifyDate" class="control-label">修改时间</label>
                            <input disabled asp-for="modifyDate" class="form-control border-input" />
                            <span asp-validation-for="modifyDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a asp-action="List" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#liRole").addClass("active");

    });
</script>
