@model Entity.RecipeEntity

@{ 
    IEnumerable<Entity.RecipeStepEntity> recipeStepList = ViewBag.recipeStepList;
}



<section class="sec sec2">
    <div class="row boxed clearfix productVideo">


        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">

                <div class="col-12" style="padding:5% 5%">

                    <div class="col-6 col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">

                        <img src="@Model.coverImage" style="width:100%">

                    </div>

                    <div class="col-6 col-12-xs hideme" style="opacity: 1;padding:0 5%">
                        @Html.Raw(Model.explain)
                    </div>

                </div>

                <div class="col-12" style="padding:5% 5%">
                    <div class="col-12">
                        <h3 style="padding:5% 5%;font-size:1.8rem; text-align:left">
                            Step：
                        </h3>
                    </div>
                    @foreach (var item in recipeStepList)
                    {
                        <div class="col-12" style="background-color:#ffffff;padding-bottom:5%">
                            <div class="col-4 col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px; border-right:1px solid #0094ff">

                                <img src="@item.imageUrl" style="width:100%" alt="video">

                            </div>

                            <div class="col-8 col-12-xs hideme" style="opacity: 1;padding:5% 5%; text-align:left;">
                                <div>@Html.Raw(item.contents)</div>
                            </div>
                        </div>

                    }

                </div>
            </div>

        </div>


    </div>
</section>