@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}


<section class="slider">
    <nav>
        <div class="nav-active nav"></div>
        <div class="nav"></div>
        <div class="nav"></div>
        <div class="nav"></div>
    </nav>

    <ul>
        <li class="active" style="background:url('../images/index/sousvide-.gif');">
            <div class="row boxed clearfix go-right">
                <div class="content col-5 col-12-s">
                    <span class="sku">GPC 965</span>
                    <h2>Pressure Cooker</h2>
                    <p>
                        14 Artisan Cooking Modes, Auto Pressure Release,
                        Flawless Gourmia Quality... Suddenly The Pressure Is
                        Off… And Dinner Is On!
                    </p>
                    <a class="btn" href="">SHOP NOW</a>
                </div>
                <a class="mouse-a" href="#scroll">
                    <div class="mouse">
                        <div class="mouse-icon">
                            <span class="mouse-wheel"></span>
                        </div>
                    </div>
                </a>
            </div>
        </li>

        <li style="background:url('../images/index/coffee-.gif');">
            <div class="row boxed clearfix go-right">
                <div class="content col-5 col-12-s">
                    <span class="sku">GCM3350</span>
                    <h2>Pour Over Coffee</h2>
                    <p>
                        Authentically crafted, awesomely automated,
                        barista approved pour over coffee.
                    </p>
                    <a class="btn" href="">SHOP NOW</a>
                </div>
                <a class="mouse-a" href="#scroll">
                    <div class="mouse">
                        <div class="mouse-icon">
                            <span class="mouse-wheel"></span>
                        </div>
                    </div>
                </a>
            </div>
        </li>

        <li style="background:url('../images/index/sousvide-.gif');">
            <div class="row boxed clearfix go-right">
                <div class="content col-5 col-12-s">
                    <span class="sku">GSV140</span>
                    <h2>Sous Vide</h2>
                    <p>
                        Goes from zero to 2.1 gallons in under a
                        minute…and that’s just for starters.
                    </p>
                    <a class="btn" href="">SHOP NOW</a>
                </div>
                <a class="mouse-a" href="#scroll">
                    <div class="mouse">
                        <div class="mouse-icon">
                            <span class="mouse-wheel"></span>
                        </div>
                    </div>
                </a>
            </div>
        </li>

        <li style="background:url('../images/index/air.gif');">
            <div class="row boxed clearfix go-right">
                <div class="content col-5 col-12-s">
                    <span class="sku">GAF645</span>
                    <h2>Air Fryer</h2>
                    <p>
                        1700 Watts Of Power, Exclusive Radivection 360⁰
                        Precision Cooking Technology...
                    </p>
                    <a class="btn" href="">SHOP NOW</a>
                </div>
                <a class="mouse-a" href="#scroll">
                    <div class="mouse">
                        <div class="mouse-icon">
                            <span class="mouse-wheel"></span>
                        </div>
                    </div>
                </a>
            </div>
        </li>

    </ul>
</section>

<section id="scroll" class="sec sec1">
    <div class="row boxed clearfix">

        <h2 class="hideme">Main products</h2>

        <div class="col-md-12">
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_11">
                <img src="~/images/index/ico1.png" />
                <h4>Pressure Cookers</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_16">

                <img src="~/images/index/ico2.png" />
                <h4>Air Fryers</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_3">
                <img src="~/images/index/ico3.png" />
                <h4>Sous Vide</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_7">
                <img src="~/images/index/ico4.png" />
                <h4>Coffee</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products">
                <img src="~/images/index/ico5.png" />
                <h4>kettles</h4>
            </a>

            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_44">
                <img src="~/images/index/ico6.png" />
                <h4>coffee Grinders</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_9">
                <img src="~/images/index/ico7.png" />
                <h4>ICE CREAM MAKERS</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_24">

                <img src="~/images/index/ico8.png" />
                <h4>DEHYDRATORS</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_8">

                <img src="~/images/index/ico9.png" />
                <h4>juicers</h4>
            </a>
            <a class="col-five col-6-s col-12-xs hideme" href="https://www.gourmia.com/products#cat_30">

                <img src="~/images/index/ico10.png" />
                <h4>Gadgets</h4>
            </a>
        </div>

    </div>
</section>

<section class="sec sec2">
    <div class="row boxed clearfix">
        <h2 class="hideme">Delicious Receipes</h2>
        <div class="col-3 col-2-s">.</div>
        <div class="col-6 col-8-s col-12-xs hideme">
            We’re as passionate about food as you are, and we love sharing great cooking ideas. Check out some of our favorite recipes below or visit our entire recipe library. We’re always adding more so visit often.
        </div>
        <div class="col-3 col-2-s">.</div>
        <div class="col-12">
            <div class="col-4 col-12-s hideme">
                <a href="">

                    <img src="~/images/index/img1.jpg" />
                    <h4>Grilled Beef Fajitas</h4>
                    <p>
                        Dreaming about southwest cuisine? This delicious recipe is simple to make using a Gourmia Air Fryer.
                    </p>
                </a>
                <a href="">DOWNLOAD PDF</a>
            </div>
            <div class="col-4 col-12-s hideme">
                <a href="">

                    <img src="~/images/index/img2.jpg" />
                    <h4>Asparagus with Dijon Mustard Vinaigrette</h4>
                    <p>
                        Looking for a way to eat more veggies? This chef-level asparagus recipe is so good, even kids love it.
                    </p>
                </a>
                <a href="">DOWNLOAD PDF</a>
            </div>
            <div class="col-4 col-12-s hideme">
                <a href="">

                    <img src="~/images/index/img3.jpg" />
                    <h4>Spicy Chicken Soup</h4>
                    <p>
                        All the benefits of your mama’s chicken soup…kicked up a notch. This tasty soup recipe is fast and simple.
                    </p>
                </a>
                <a href="">DOWNLOAD PDF</a>
            </div>
        </div>
        <div class="col-12">
            <a href="" class="btn hideme">SEE ALL RECIPES</a>
        </div>
    </div>
</section>
