

@model Entity.CompanySetEntity
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">添加Banner</h4>
        </div>
        <div class="content">
            <form asp-action="CreateBanner" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="keyValue" class="control-label">图片(2300*900)</label>
                            <img id="keyValue" src="" width="350" />
                            <input type="file" name="keyValue" class="form-control border-input" placeholder="选择图片..." accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <span asp-validation-for="keyValue" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input id="btnSure" type="submit" class="btn btn-info btn-fill btn-wd" value="确 定" />
                    &nbsp;
                    <a asp-action="CompanyBanner" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#liSetting").addClass("active");
        $(":file").change(function (e) {
            ShowImg(e.target.files[0], e.target.name)
        })
    });

    //显示图片
    function ShowImg(file, domId) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            // 创建对象
            var img = new Image();

            // 改变图片的src
            img.src = e.target.result;

            // 判断是否有缓存
            if (img.complete) {
                if (img.width == 2300 && img.height == 900) {
                    $("#" + domId).attr("src", e.target.result);
                } else {
                    $(":file").val("");
                    $("#" + domId).attr("src", "");
                }
            } else {
                // 加载完成执行
                img.onload = function () {
                    if (img.width == 2300 && img.height == 900) {
                        $("#" + domId).attr("src", e.target.result);
                    } else {
                        $(":file").val("");
                        $("#" + domId).attr("src", "");
                    }
                };
            }

        }
    }
</script>
