<!-- 基础设置项目 -->
<div class="row">

    @*<div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-server"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>数据备份</p>

                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-link"></i>
                        <a>去备份</a>
                        <input id="btnSure" type="button" class="btn btn- btn-fill btn-wd" value="点击查看" />
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-success text-center">
                            <i class="ti-location-pin"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>企业信息设置</p>
                            @*$1,345*@
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-link"></i>
                        <a href="./CompanyProfile">基本信息</a>&nbsp;
                        <a href="./CompanyBanner">banner图片设置</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-danger text-center">
                            <i class="ti-pencil-alt"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>用户反馈</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-timer"></i>
                        <a href="./ContactList">点击查看</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-info text-center">
                            <i class="ti-email"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>系统消息</p>
                            45
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-reload"></i>
                        <a>点击查看</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#liSetting").addClass("active");

    });

</script>