

@model Entity.ProductEntity
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">添加</h4>
        </div>
        <div class="content">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="title" class="control-label">标题</label>
                            <scrip id="title" type="text/plain" name="title" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="productTypeId" class="control-label">产品分类</label>
                            @await Component.InvokeAsync("ProductTypeSelect")
                            <span asp-validation-for="productTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="explain" class="control-label">功能介绍</label>
                            <scrip id="explain" type="text/plain" name="explain" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="explain" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="buyLink" class="control-label">产品购买链接</label>
                            <input asp-for="buyLink" class="form-control border-input" />
                            <span asp-validation-for="buyLink" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="description" class="control-label">描述</label>
                            <scrip id="description" type="text/plain" name="description" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="details" class="control-label">详细</label>
                            <scrip id="details" type="text/plain" name="details" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="details" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="itemIncludes" class="control-label">包括</label>
                            <scrip id="itemIncludes" type="text/plain" name="itemIncludes" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="itemIncludes" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="coverImage" class="control-label">封面图片(500*500)</label>
                            <img id="coverImage" src="" width="350" />
                            <input type="file" name="coverImage" class="form-control border-input" placeholder="选择图片..." accept="image/gif,image/jpeg,image/jpg,image/png" />
                            <span asp-validation-for="coverImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="specification" class="control-label">产品说明书</label>
                            <input type="file" name="specification" class="form-control border-input" placeholder="选择产品说明书..." accept="application/pdf" />
                            <span asp-validation-for="specification" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input id="btnSure" type="submit" class="btn btn-info btn-fill btn-wd" value="确 定" />
                    &nbsp;
                    <a asp-action="List" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Common/ueditor.config.js"></script>
<script src="~/js/Common/ueditor.all.min.js"></script>
<script src="~/js/Common/zh-cn.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#liProduct").addClass("active");

        $(":file").change(function (e) {
            if (e.target.name != "specification") {
                ShowImg(e.target.files[0], e.target.name)
            } 
        })
    });

    //显示图片
    function ShowImg(file, domId) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            // 创建对象
            var img = new Image();

            // 改变图片的src
            img.src = e.target.result;

            // 判断是否有缓存
            if (img.complete) {
                if (img.width == 500 && img.height == 500) {
                    $("#" + domId).attr("src", e.target.result);
                } else {
                    $(":file").val("");
                    $("#" + domId).attr("src", "");
                }
            } else {
                // 加载完成执行
                img.onload = function () {
                    if (img.width == 500 && img.height == 500) {
                        $("#" + domId).attr("src", e.target.result);
                    } else {
                        $(":file").val("");
                        $("#" + domId).attr("src", "");
                    }
                };
            }

        }
    }

    var ue = UE.getEditor('title', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    var ue = UE.getEditor('explain', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    var ue = UE.getEditor('description', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    var ue = UE.getEditor('details', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    var ue = UE.getEditor('itemIncludes', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

</script>
