@model IEnumerable<Entity.ProductTypeEntity>

<section id="scroll" class="sec sec1">
    <div class="row boxed clearfix">

        <div>@Html.Raw(ViewBag.ProductTltie)</div>

        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <a class="col-five col-6-s col-12-xs hideme" href="/Product/List?productTypeId=@item.productTypeId#@item.productTypeId">
                    <img src="@item.coverImage" />
                    <div>@Html.Raw(item.recommendTitle)</div>
                </a>
            }
        </div>

    </div>
</section>
