@model IEnumerable<Entity.VideoEntity>
@{
    string videoTitle = ViewBag.videoTitle;
}
<link href="~/css/video-js.min.css" rel="stylesheet" />
<section class="sec sec2">
    <div class="row boxed clearfix productVideo">

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">
                <div>@Html.Raw(videoTitle)</div>
                <div class="col-12" style="padding-bottom:30px">
                    @{
                        var temp1 = Model.Where(it => it.typeName == "产品");
                    }
                    @foreach (var item in temp1)
                    {
                        <div class="col-3 col-6-s col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">
                            <video id="my-video" class="video-js vjs-fluid" controls preload="auto"
                                   poster="@item.coverImage" data-setup="{}">
                                <source src="@item.URL" type="video/mp4">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                            <div>@Html.Raw(item.title)</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/video.min.js"></script>