

<div>
    <img style="width:100%;" src="~/images/about/abo.png" />
</div>


<div class="col-12 productVideo hideme">
    <p style="color:#999">
        With 20 years focusing on development and production of kitchen appliances, Loyola has accumulated rich experience in the industry and recognized as a professional manufacturer of baking products. To make products humanize,pratical, excellent quality assurance are our main concerns.  To lead light luxury life is the spirit of our brand "Loyola".
    </p>
</div>

<div>
    <img style="width:100%;" src="~/images/about/abou.png" />
</div>

<section class="sec sec2" style="padding:30px 0">
    <div class="row boxed clearfix productVideo">

        <div class="col-12">

            <div class="col-12 col-12-s productVideo" style="padding-bottom:30px;vertical-align:middle;">
                <div class="col-6 col-12-s productVideo">
                    <img src="~/images/about/ab1.png" style="width:100%" />

                </div>

                <div class="col-6 col-12-s productVideo">
                    <p style="color:#999;padding:10% 5%">
                        Have our own R&D, laboratory, workshops of tooling, stamping, painting, assembling,heating element production.
                    </p>

                </div>
            </div>

            <div class="col-12 productVideo" style="padding-bottom:30px">
                <div class="col-6 col-12-s productVideo">
                    <p style="color:#999; padding:10% 5%">
                        Get a number of authoritative certifications, such as BSCI, ETL, 3C, GS, UL, CE, Tmark, KC, SASO, PCT, SAA, BS, CB, CUL, CETL
                    </p>
                </div>
                <div class="col-6 col-12-s productVideo">
                    <img src="~/images/about/ab2.jpg" style="width:100%" />

                </div>
            </div>

        </div>


    </div>

    <div>
        <div class="col-12">

            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (11).png" style="width:100%" />
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>1996</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    The company is founderd and the main product is electric oven
                </p>
            </div>

            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (12).png" style="width:100%" />
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>1997</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Started to export electic ovens to overseas market, the first customer is in Srilanka
                </p>
            </div>

            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (1).png" style="width:100%" />
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>1998</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Passed ISO 9001 ane the products enter Eourpean market.
                </p>
            </div>
        </div>

        <div class="col-12">


            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>1999</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    The products got ETL certificates and started to enter American market
                </p>
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (2).png" style="width:100%" />
            </div>


            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2001</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Hong Kong branch offied is established; the produts started to enter Japanese market.
                </p>
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (3).png" style="width:100%" />
            </div>


            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2004</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Subsidiary plant (Changhui) is founded
                </p>
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (4).png" style="width:100%" />
            </div>

        </div>

        <div class="col-12">

            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (5).png" style="width:100%" />
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2006</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Launched own brand Loyola and enter domestic market
                </p>
            </div>

            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (6).png" style="width:100%" />
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2008</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Started to launch steam oven and make ceramic cooker
                </p>
            </div>

            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (7).png" style="width:100%" />
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2010</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Started to make fruit oreserver
                </p>
            </div>
        </div>


        <div class="col-12">


            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2011</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Started e-commerce market and opened the flagship store in the biggest e-commerce platform in China
                </p>
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (10).png" style="width:100%" />
            </div>


            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2012</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Australia branch office was established; the company passed BSCI.
                </p>
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (8).png" style="width:100%" />
            </div>


            <div class="col-2 col-6-s col-12-xs">
                <br />
                <br />
                <h5>2014</h5>
                <br />
                <hr style="height:1px;border:none;border-top:1px solid #ff6a00;" />
                <br />
                <p style="color:#999; ">
                    Baking Tribe Company was set up ti educate the public for baking knowledge via mobile inernet. Owning a fans group over 60,000 members and increasing with the rate 2,000 per day, she becomes the biggest baking coummunity in China today.
                </p>
            </div>
            <div class="col-2 col-6-s col-12-xs">
                <img src="~/images/about/1 (9).png" style="width:100%" />
            </div>

        </div>
    </div>

</section>



